@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
/* Fonts */
/* Importar aquí la font */



/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

body{
    font-family: 'Lato';
    font-size: 18px;
    line-height: 1.2;
}

header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;  
}
nav li{
    margin-right: 15px;
}

img{
    max-width: 400px;
    display: flex;
    align-content: center;
}

h1{
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
h2{
    font-size: 28px;
    text-align: center;
}

p{
    margin-top: 20px;
    margin-bottom: 20px; 
    text-align: justify;
}

h4{
    margin-top: 20px;
}
.cv{
    display: block;
    background-color: #af599e;
    color: #fbfbfb;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}
#contacto{
    display: flex;
    align-content: center;
    text-align: center;
}
/*No entiendo qué hice para que desaparecieran las casillas 
del formulario de contacto. Solo necesitaba alinearlas correctamente*/

label{
    display:block;
    font-weight: bold;
}

input,
textarea{
    padding: 8px;
    border: 1px;
    margin-top: 5px;
    border-bottom: #180d16;
}

button{
    display: inline-block;
    background-color: #af599e;
    color: #fbfbfb;
    padding: 10px;
    font-size: 20px;
}

.icons img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:  40px;
    margin: auto;
    font-size: 1rem;
}
footer{
    background-color: #af599e;
    color: #fbfbfb;
    height: 90px;
    text-align: center;
    padding: 10px
}
/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/

@media (max-weidth:770px){
    header{
        flex-direction: column;
        text-align: cengter;
    }
}
    sections{
        min-height: 100vh;
    }
